#Copyright{
    font-size: 5px;
    color: gray;
    margin-top: 8px;
    text-align: center;
    /*border: red 1px solid;*/
}

.Copyright2{
    font-size: 5px;
    color: gray;
    text-align: left;
    /*border: red 1px solid;*/
}

.axis{
    font-size: 5px;
    color: gray;
    text-align: center;
    /*border: red 1px solid;*/
}