#Copyright{
    font-size: 5px;
    color: gray;
    margin-top: 7px;
    text-align: center;
    /*border: red 1px solid;*/
}

#Copyright2{
    font-size: 5px;
    color: gray;
    text-align: center;
    /*border: red 1px solid;*/
}
